.About .flex-container {
  justify-content: center;
}

.About .flex-item-img {
  min-width: 200px;
  max-width: 200px;
}

.About .flex-item-txt {
  margin-left: 20px;
  max-width: 700px;
}

@media (max-width: 800px) {
  .About .flex-container {
     flex-direction: column;
     align-items: center;
  }
  .About .flex-item-txt {
    margin-left: 0;
  }
}

.About .sci-illustration {
  border-radius: 50%;
  width: 100%;
}
.App .img-credits {
  text-align: center;
}
.App .img-credits a {
  font-size: 10px;
  color: LightGray;
}
