.About .about-container {
  justify-content: center;
}

.About .ana-office {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.About .flex-item-txt {
  margin-left: 30px;
  max-width: 700px;
}

.About .flex-item-txt p:first-child {
  margin-top: 0;
}

@media (max-width: 800px) {
  .About .about-container {
     flex-direction: column;
     align-items: center;
  }
  .About .flex-item-txt {
    margin-left: 0;
  }
  .About .flex-item-txt p:first-child {
    margin-top: revert;
  }
}

.About .academic-links-wrapper {
  margin: 40px 0;
}

.About .AcademicLink {
  margin-bottom: 10px;
}

.About .AcademicLink:not(:last-child) {
  margin-right: 15px;
}


@media (max-width: 800px) {
  .About .academic-links-wrapper .flex-container {
     justify-content: center;
  }
}

@media (max-width: 420px) {
  .About .academic-links-wrapper .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .About .academic-links-wrapper .AcademicLink {
    margin: 0 0 10px 0;
  }
}

.About .contact-wrapper {
  margin-bottom:60px;
}

.About .contact-links-wrapper {
  margin-top: 20px;
}

.About .contact-wrapper .contact-label {
  color: DarkSlateGray;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.About .contact-wrapper .contact-info p {
  margin: 3px 0;
}