.PageBody {
  padding: 35px 30px;
  padding-bottom: 2.5rem;    /* Footer height */
  text-align:justify;  
  text-justify:inter-word;
}

.PageBody .section-header {
  font-size: 1.25em;
  color: DarkSlateGray;
}

.PageBody .section-header:not(:first-child) {
  margin-top: 40px;
}