.PageHeader {
  height: 50px;
  background-color: #6e316d;
  color: whitesmoke;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.menu-entry .entry-button {
  height: 42px;
  padding: 0px 5px;
  line-height: 50px;
}

.menu-entry .entry-selection {
  height: 2px;
}

.menu-entry .entry-selection.selected {
  background-color: whitesmoke;
}

.menu-entry:not(:first-child) {
  margin-left: 10px;
}

.menu-entry:hover {
  cursor: pointer;
  color: #e1eff2;
}
.menu-entry:hover .entry-selection {
  background-color: #e1eff2;
}


