.PageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #282c34;
  color: gray;
}

.PageFooter .placeholder {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  line-height: 2.5rem;
  text-align: center;
}

.PageFooter a.rsherves-contact-link {
  color: gray;
  text-decoration: none;
}

.PageFooter a.rsherves-contact-link:hover {
  color: #606060;
}

.PageFooter img.linkedin-logo {
  position: relative;
  top: 3px;
  left: 6px;
}