.PageFooter {
  height: 2.5rem;
  background-color: #282c34;
  color: grey;
}

.PageFooter .placeholder {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  line-height: 2.5rem;
  text-align: center;
}