.PageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: gray;
}

.PageFooter .footer-content-wrapper {
  margin: 10px 10px 12px 10px;
}

.PageFooter .developer-credits {
  font-size: 13px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.PageFooter .developer-credits a {
  color: gray;
  text-decoration: none;
}

.PageFooter .developer-credits a:hover {
  color: #606060;
}

.PageFooter img.linkedin-logo {
  position: relative;
  top: 3px;
  left: 6px;
}

.PageFooter .ws-nowrap {  
  white-space: nowrap;
}