.App {
  position: relative;
  min-height: 100vh;
  background: #f8f8f8;
}

.flex-container {
  display: flex;
}
.flex-container.center {
  justify-content: center;
  align-items: center;
}
.flex-container.row-wrap {
  flex-flow: row wrap;
}
.flex-container.row-nowrap {
  flex-flow: row nowrap;
}
.flex-container.row-nowrap {
  flex-flow: row nowrap;
}