.App {
  position: relative;
  min-height: 100vh;
  background: #f8f8f8;
}

.flex-container {
  display: flex;
}
.flex-container.center {
  justify-content: center;
  align-items: center;
}
.flex-container.row-wrap {
  flex-flow: row wrap;
}
.flex-container.row-nowrap {
  flex-flow: row nowrap;
}
.flex-container.row-nowrap {
  flex-flow: row nowrap;
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App .img-credits {
  text-align: center;
}
.App .img-credits a {
  font-size: 10px;
  color: LightGray;
} 